@model variaveis 

@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindos </h1>
    <p>
       
      <p> byte MaxValue = 255;</p> 
       <p>byte MaxValue = 255; </p> 
        <p> int MinValue = -2147483648; </p>
       <p> int MaxValue = 2147483647;</p>
       <p>uint MinValue = 0;</p> 
       <p> uint MxValue = 4294967295;</p> 
       <p> long MinValue = -9223372036854775808;</p> 
        <p>long MaxValue = 9223372036854775807; </p>
    </p>    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
